[2019-05-11 21:59] btzr-io opened #1 "Libarchive issues"
Subfile in certain RAR cannot be read
https://github.com/libarchive/libarchive/issues/373

[2019-05-14 03:56] btzr-io opened #2 "Book mode shows incorrect height of pages"

[2019-05-14 17:03] #2 closed

[2019-05-16 07:05] btzr-io opened #3 "Bad zoom levels"
- [x] The min and max zoom levels are affected by the resize event.
- [x] Inconsistent zoom levels on different image sizes

[2019-05-16 07:06] btzr-io opened #4 "Improve input styles"
- [x] Focus styles
- [x] Accessibility tags

[2019-05-23 07:10] #4 closed

[2019-06-22 05:07] btzr-io opened #5 "Web-app"
Create a web application + embed api :rocket:
- [x] Home page.
- [ ] Move docs to website ?
- [x] Initial UI for reader.
- [x] Get Domain #224
- [x] Embed api
- [x] Open archive from local storage #239
- [ ] Document api
- [x] Drag and drop support: https://github.com/btzr-io/Villain/commit/c184f3a6a07b5ce2d21472971a6081503b020a3f

[2019-06-22 05:10] btzr-io opened #6 "Split react component"
This repo host the web-app and also the react component version, it should be a good idea to organize the code in modules:

[code]

[2019-08-02 18:25] seanyesmunt opened #7 "full screen button in viewer controls"
The full screen button is being removed in lbry-desktop in place of individual full screen buttons in the different viewers. `f` for fullscreen will still work, but there will no longer be a button below the viewer components.

[2019-10-15 05:03] btzr-io commented on #7
Already implemented https://github.com/btzr-io/Villain/commit/39850c2c5982190050bb2df2347d5bfb5529eb88 :v:

[2019-10-15 05:03] #7 closed

[2019-10-15 05:04] btzr-io commented on #3
Fixed on https://github.com/btzr-io/Villain/commit/a388079a94896b140544f3db19a3e11e573bddf8

[2019-10-15 05:04] #3 closed

[2019-10-15 05:11] btzr-io opened #10 "Add manga mode"
Create a new mode to read manga ("Right to left")

[2019-10-15 05:17] btzr-io opened #11 "Fix fullscreen mode"
The current fullscreen mode only expands the size of the viewer, it should actually trigger the fullscreen enter / exit event of the window.

Use the `lib/full-screen.js` polyfill.

[2019-10-15 05:21] btzr-io opened #12 "Improve tooltips for controls"
- [ ] Buttons and other interactive elements are missing tooltips.
- [ ] Better tooltip messages

~We should also look for a react component instead of using the native tooltips.~
I think we should stick for the native ones for know but open for suggestions.

[2019-10-15 05:24] btzr-io opened #13 "Menu (options)"
The space of the toolbar is limited, we will eventually need panel or drop menu to display all the configurable options of the player.

[2019-10-15 05:26] btzr-io opened #14 "Theme toggler"
Add an option to quickly switch between dark and light theme.

( Note: the light theme don't exist yet #15 )

[2019-10-15 05:27] btzr-io opened #15 "Light theme"
Create a light theme, see the dark theme for inspiration.

[2019-10-15 05:34] btzr-io opened #16 "Improve documentation"
Add all features, and configurable options, also dev guide needs some changes.

[2019-10-15 05:37] btzr-io opened #17 "Change fullscreen icon on enter and exit events"
When entering and leaving fullscreen the icon of the button should also change.

[2019-10-15 05:39] prateekpardeshi commented on #16
@btzr-io what exactly i need to do?

[2019-10-15 05:41] btzr-io opened #18 "About panel"
A panel or overlay container ( maybe even a pop up modal ) to display some info about the viwer:
- Logo / Project name
- Current version
- Description
- Maybe add the github links ?

[2019-10-15 05:46] btzr-io commented on #16
@prateekpardeshi I'm planing to add a documentation section on readme file.
You can try to add a section like "Features" and add a list of the features of the viewer...

## Features or stuff you can do etc..
- Navigation controls
- Fullscreen mode
-...

Or if you can fix any typos you see and improve the formatting that would be great :v:

[2019-10-15 05:50] btzr-io opened #19 "Shorcut keys panel"
A panel or overlay container ( maybe even a pop up modal ) to display some info about all shortcut keys.

(See the openseadragon docs for more info)

[2019-10-15 05:52] btzr-io opened #20 "Shortcut keys"
Add shortcut keys to control the viewer like `f` to toggle fullscreen.

[2019-10-15 05:53] btzr-io commented on #16
Also a shortcut keys section would be useful to have :thinking:

[2019-10-15 05:57] btzr-io commented on #20
I think needs a simple system to register them, unless `openseadragon` provides something for this,.

[2019-10-15 06:32] Kazeeem commented on #14
May I?

[2019-10-15 11:46] fllprbt commented on #17
Can I grab?

[2019-10-15 15:08] fllprbt commented on #17
Well, that's why I never start an issue until it is assigned on me :) It is better though, to state your interest before starting/opening PRs so that nobody else tries to simultaneously do it.. (but as you see it does not always work)

You can proceed with your MR, I will find something else^^

[2019-10-15 15:28] btzr-io commented on #17
@fllprbt sorry, I didn't have time to assign you the issue, if you don't see any comments or assigned user just leave a comment that you are working on it :v:

[2019-10-15 15:37] #17 closed

[2019-10-15 15:38] btzr-io commented on #20
Awesome, thanks. Let me know if you have any questions.

[2019-10-15 15:38] btzr-io commented on #20
Awesome, thanks. Let me know if you have any questions.

[2019-10-15 15:44] Nargonath commented on #20
Alright, thanks.

[2019-10-15 17:12] btzr-io opened #22 "Monorepo"
Move the `npm` package ( villain-react component ) to its own folder.

[2019-10-15 18:02] btzr-io opened #23 "Accessibility"
Implementing accessibility in any component of the viewer.

[2019-10-15 18:04] btzr-io commented on #23
See https://developer.mozilla.org/en-US/docs/Learn/Accessibility/What_is_accessibility

[2019-10-15 18:38] IsraelSampaio commented on #22
move the package.json?
what would the npm package be?
could you give me more information?

[2019-10-15 18:41] btzr-io commented on #22
@IsraelSampaio I mean to move it inside a folder something like "packages", see this example:
https://github.com/remarkjs/remark/tree/master/packages

I want to create a web-app that will use this package but they will exist in the same repo, this issue its probably complex due the current structure of the project.
This is probably not a good issue for you if you are a first time contributor to th

[2019-10-15 19:12] IsraelSampaio commented on #22
@btzr-io  are you talking about the lib folder? create a package folder with full-screen.js package?

[2019-10-15 19:25] vclayton commented on #11
I'd like to see if I can get this to work.

[2019-10-15 19:52] btzr-io commented on #11
@vclayton sure go for it.

[2019-10-15 19:54] btzr-io commented on #22
I mean the `villain-react` component, see the example link of a monorepo ^^

[2019-10-15 21:06] btzr-io opened #24 "Add a changelog"
Create a change log file to register future changes / updates for each version.

[2019-10-15 22:02] btzr-io opened #25 "Load images"
Extend support to load an array of images instead of just compressed archives.

[2019-10-15 22:10] btzr-io opened #26 "Extract encrypted archives"
Add support for encrypted archives:
- It will require an UI to request the password.

See https://github.com/nika-begiashvili/libarchivejs#check-for-encrypted-data

[2019-10-15 22:13] btzr-io opened #27 "Preview mode"
Add an option to display a preview version of the archive, this should be faster and more optimized than loading the full archive:
- Extract a defined number of images (eg. 3 first pages ) and display it.
- Maybe add a label or indication that is a preview version.

[2019-10-15 22:16] btzr-io opened #28 "Update libarchive js"
Update and maybe add command or automatic way to update this files.
See: https://github.com/nika-begiashvili/libarchivejs

[2019-10-16 02:03] mraguso2 commented on #24
Gave it shot! PR https://github.com/btzr-io/Villain/pull/30

[2019-10-16 02:39] btzr-io commented on #11
Fixed by https://github.com/btzr-io/Villain/commit/af45d1e3bc1db2ab0816a27bad445b1d5fb7d2ab

[2019-10-16 02:50] #11 closed

[2019-10-16 03:03] #28 closed

[2019-10-16 03:30] #24 closed

[2019-10-16 04:43] btzr-io opened #31 "Create tests"
We need some test to ensure everything is working fine :+1:

[2019-10-16 07:06] n1tin commented on #12
Hey! Would be interested in looking at https://github.com/bsidelinger912/react-tooltip-lite. It is used in one of the projects at my workplace and looks neater than the 'react-tooltip' lib. Also if you are fine with this I can work to raise a PR with the tooltip changes for the elements where ever you think it is required.

[2019-10-16 13:12] TorstenDittmann commented on #15
I'd like to work on that.
How would you like to implement the different themes?

[2019-10-16 17:28] btzr-io commented on #12
@n1tin  Sure, go for it :+1:

[2019-10-16 17:31] btzr-io commented on #31
I mean like a unit testing for the react components.

[2019-10-16 17:41] btzr-io commented on #31
Anyway this components has a complex structure so if you could just create a small test for a single component like a button or an input just to lead the way, that would be great :v:

[2019-10-16 17:49] btzr-io commented on #14
Also see: https://github.com/btzr-io/Villain/issues/13

[2019-10-17 02:23] #14 closed

[2019-10-17 02:23] #15 closed

[2019-10-17 02:30] btzr-io opened #34 "Responsive toolbar"
When the viewer size is too small toolbar will break ( fail to display and interact with elements)
Also we should be able to handle almost any screen size for mobiles.

Probably will require to remove certain components from the toolbar:
See: https://github.com/btzr-io/Villain/issues/13

[2019-10-17 02:55] btzr-io opened #35 "Implement shadow DOM"
We need to isolate the css styles of at least the toolbar component otherwise is easy to break  when having conflicts with the website styles.

Probably use a component for this or create a new one:
https://github.com/apearce/react-shadow-root
https://github.com/Wildhoney/ReactShadow#readme

[2019-10-17 02:56] btzr-io commented on #35
See for more info: https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_shadow_DOM

[2019-10-17 04:26] marcelorl commented on #35
taking this one

[2019-10-17 04:34] btzr-io commented on #35
ok, go for it!

[2019-10-17 04:52] btzr-io commented on #35
@marcelorl Let me know if you have any questions :v:

[2019-10-17 06:53] rahuldkjain commented on #34
@btzr-io I would like to fix that. Please assign this issue to me

[2019-10-17 15:39] btzr-io commented on #34
@rahuldkjain sure go fo it

[2019-10-17 16:15] btzr-io opened #36 "Mirror mode"
**Is your feature request related to a problem? Please describe.**
It should flip the images like a "mirror".

**Describe the solution you'd like**
`Openseadragon` provides this feature we just need a control to toggle it, see the docs for more info.

[2019-10-17 16:16] btzr-io commented on #35
@marcelorl Are you still working on this ?

[2019-10-17 16:25] marcelorl commented on #35
yes, still working

[2019-10-17 16:27] btzr-io commented on #20
@Nargonath are you still working on this ?

[2019-10-17 17:36] TimeTerminal commented on #36
Hey, I'd like to take this one, but don't know how to properly set up the project locally 😅

Once all packages are installed, I run `yarn start` and localhost opens up the Test Example. What's the next step after that?

<img width="768" alt="image" src="https://user-images.githubusercontent.com/10537934/67033188-26296400-f0e3-11e9-817a-2025b58eb4f7.png">

[2019-10-17 19:59] btzr-io commented on #36
@TimeTerminal oh sorry, yeah we need better documentation about this.
You will need a comic book archive or just create a compressed archive with some images inside (zip, rar, tar....)

Change this with the location of your archive
https://github.com/btzr-io/Villain/blob/14ed9ca9497f39bfbf3d966bd45f3bcc3f3b3fb9/examples/index.js#L14

Can you open an issue about this?

[2019-10-17 20:10] btzr-io opened #37 "Improve message error"
**Is your feature request related to a problem?**
The message error view needs some improvement.
Also we should improve the error message handler to detect different types of error.

[2019-10-17 20:17] Joesepherus commented on #37
Can I work on this?

[2019-10-17 20:52] btzr-io opened #38 "Mobile compatibility"
Optimize viewer for mobile devices.

- [ ] Debounce zoom updates. See full conversation: https://github.com/btzr-io/Villain/pull/73#issuecomment-544680636

See related issue: https://github.com/btzr-io/Villain/issues/34

[2019-10-17 21:26] btzr-io opened #39 "Keyboard navigation for slider component"
**Is your feature request related to a problem?**

The current slider lags of a keyboard navigation, should probably be handled with arrow keys and mouse wheel if possible.

Related issue: https://github.com/btzr-io/Villain/issues/23

See for possible implementation: https://github.com/sghall/react-compound-slider/blob/master/docs/src/pages/slider-demos/horizontal/components.js#L106

[2019-10-17 21:44] btzr-io commented on #12
Some examples and suggestions:
https://material.io/components/tooltips/#

[2019-10-17 21:58] btzr-io opened #40 "Slider component skipped key tab"
**Describe the bug**
The handler of the slider element don't auto focus when using key tab navigation.

**To Reproduce**
Steps to reproduce the behavior:
1. Press tab to navigate until you reach the toolbar controls (buttons)
4. See error ( slider don't get focus )

This will be probably required by: s://github.com/btzr-io/Villain/issues/39

[2019-10-17 22:09] btzr-io opened #41 "Keyboard-Only Focus Styles"
**Is your feature request related to a problem? Please describe.**
Create keyboard-only foucs style for buttons and inputs.

**Describe the solution you'd like**
See for more info and examples:  https://css-tricks.com/keyboard-only-focus-styles/

[2019-10-17 23:04] DaniAcu commented on #40
I want to contribute! I could take that issue, it's okay?

[2019-10-17 23:08] TimeTerminal commented on #36
Sweet, that worked! I tried opening an issue but can't click on the submit button. Perhaps a permissions issue?

[2019-10-17 23:09] btzr-io commented on #40
@DaniAcu sure go for it

[2019-10-17 23:23] btzr-io commented on #36
@TimeTerminal idk how do I configure that (access to issues) ?

[2019-10-17 23:38] TimeTerminal opened #42 "Improve documentation with development instructions"
**Is your feature request related to a problem? Please describe.**
Documentation should provide the basic steps for contributors to get started with the project

**Describe the solution you'd like**
Contributors should be able to get started with ease

Related issue:  Improve documentation #16

[2019-10-17 23:38] TimeTerminal commented on #36
Not sure what happened, but #42 created.

[2019-10-17 23:39] btzr-io commented on #36
@TimeTerminal nice thanks!

[2019-10-17 23:41] btzr-io commented on #42
Probably will be a good idea to include a small archive int the repository for quick testing

[2019-10-17 23:44] TimeTerminal commented on #42
Sure, I can update my PR with a .zip file of 5-6 images.

[2019-10-18 00:18] DaniAcu commented on #40
Awesome! So, fixed! https://github.com/btzr-io/Villain/pull/44

[2019-10-18 00:18] DaniAcu commented on #39
Fixed on this PR: https://github.com/btzr-io/Villain/pull/44

[2019-10-18 00:38] #40 closed

[2019-10-18 00:39] #39 closed

[2019-10-18 01:12] #42 closed

[2019-10-18 01:30] DaniAcu commented on #31
@btzr-io I could start setting the env to add tests with jest and create some test. If that it's okay for you, assign to me.

[2019-10-18 02:13] HenriqueFadoni commented on #41
I am getting this issue

[2019-10-18 02:15] HenriqueFadoni commented on #38
I am getting this issue

[2019-10-18 02:28] HenriqueFadoni commented on #6
Good idea, but what do you mean by modules? Fragment the components? Or just move it into folders?

[2019-10-18 02:40] HenriqueFadoni commented on #38
Could you better explain the problem?

[2019-10-18 02:55] btzr-io commented on #31
@DaniAcu sure, sounds good

@jenlky Are you working on this ?

[2019-10-18 02:58] jenlky commented on #31
@btzr-io Nope

@DaniAcu Sure, go ahead!

[2019-10-18 02:59] btzr-io commented on #6
@HenriqueFadoni I want to make a web app that uses the `villian-react` component so we will have two packages inside this repository:
[code]
,

[2019-10-18 03:02] btzr-io commented on #41
@HenriqueFadoni Ok, please just pick one issue at a time

[2019-10-18 03:05] btzr-io commented on #38
Sorry this is unclear, but this is not a specific issue just means that you need to test it on mobile devices and find any stuff that don't work.

Feel free to report any issue and create a pull request if you find a solution.

[2019-10-18 03:10] btzr-io commented on #6
See related issue: #5 #22

[2019-10-18 03:20] btzr-io opened #46 "Improve rollup config"
I'm not familiar with `rollup` so I don't know if there is something we should improve on the config:
- [ ] Remove unnecessary plugins.
- [ ] Add better / necessary plugins.
- [ ] something else ?

Also see related issue: Remove webpack usage #47

[2019-10-18 03:26] btzr-io opened #47 "Remove webpack usage"
Currently we use `webpack` to run the dev server and `rollup` to build the production module.
So we have two different config files and both are required to be on sync and be compatible with each other.

Is there anyway to just use `rollup` and discard `web-pack` ?

Well there is this,  but, web-pack has `react-hot-loader` implemented, so not sure if this is possible:
https://github.com/thgh/rollu

[2019-10-18 03:34] btzr-io opened #48 "Add pull request template"
We need a pull request template to include some basic info...

See this example:
https://github.com/lbryio/lbry-desktop/blob/master/.github/PULL_REQUEST_TEMPLATE.md

[2019-10-18 03:50] btzr-io opened #49 "Broken example archive"
The example [archive](https://github.com/btzr-io/Villain/tree/master/build/testFile) included breaks the viewer when navigating from pages.

I suspect it contains corrupted images or unsupported format?
[code]

Also we should handle better this error: #37

### Update

Well the issue appears to be related to this folder inside the archive: [`__MACOSX/`](https://superuser.com/a/104501)

All files co

[2019-10-18 03:51] btzr-io commented on #49
@TimeTerminal Any ideas?

[2019-10-18 04:14] btzr-io opened #50 "Improve image type validation"
Currently only detects files as images when the name ends on a valid image type extension,
we should at least validate if the name contains invalid charactes such as a filename starting with `.` see example:

Valid name: **`image.png`**
Invalid name: **`.__image.name.png`**

A more efficient validation system to ensure that the file is a real image will be reading the `magi numbers` or something s

[2019-10-18 04:15] btzr-io commented on #34
@rahuldkjain Are you still working on this ?

[2019-10-18 04:17] rahuldkjain commented on #34
Yes I am on it

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
18/10/19,
09:46:53 am

On Fri, 18 Oct 2019 at 09:45, Baltazar Gomez <notifications@github.com>
wrote:

--

*Rahul Jain2016197*
B.Tech Computer Scien

[2019-10-18 04:18] btzr-io commented on #34
@rahuldkjain Oh, ok just checking thanks :v:

[2019-10-18 04:24] btzr-io commented on #49
Here is the validation function used on the [uncompress](https://github.com/btzr-io/Villain/blob/master/src/components/uncompress.js) component:

https://github.com/btzr-io/Villain/blob/2f596a4c4b37aa32623d01fe02f6d577bb2c785a/src/lib/utils.js#L14

[2019-10-18 04:34] btzr-io commented on #41
@HenriqueFadoni Are you working on this?

[2019-10-18 04:35] btzr-io commented on #12
@n1tin Are you still working on this ?

[2019-10-18 04:38] n1tin commented on #12
Yes @btzr-io. I have made some changes (https://github.com/n1tin/Villain/commit/0a1179ce7456a51956533a21ba40a5a2acf7e61b) but it is not working properly in the fullscreen mode so trying to fix that.

[2019-10-18 04:39] btzr-io commented on #12
@n1tin Oh ok, just checking,
Well if you have any questions or need help let me know :v:

[2019-10-18 04:46] n1tin commented on #12
'react-tooltip-lite' lib is adding the tooltip `<span>` outside the `App` container tag so I am having to move css variables to `:root`. Are you okay with this or are you preferring the native ones?

[2019-10-18 04:59] btzr-io commented on #12
@n1tin I guess its ok to move them to `:root` but maybe we should add a prefix to prevent conflicts with external styles? like this:
[code]

Anyway don't worry about it, should be handle on a different `pr` unless you also want to work on that?

[2019-10-18 05:09] n1tin commented on #12
Will get the tooltip working first 🙂

[2019-10-18 05:50] #48 closed

[2019-10-18 06:43] TimeTerminal commented on #49
Looks like it was the MacOS compression for zipping files. While on a Mac I didn't see a problem, switching to a Windows machine broke it. Creating a PR with a replacement archive.

[2019-10-18 07:48] Nargonath commented on #20
Yes I am. I just had some other stuff to take care in other open source projects I maintain. 😃 I wrote some code, now I just need to test it. I should be able to do it during the weekend.

[2019-10-18 07:49] btzr-io commented on #37
Did some progress on https://github.com/btzr-io/Villain/commit/3c056f0548ca008c3c116a9ddaa29849f1d9006e
Stil needs more work :upside_down_face:

[2019-10-18 07:50] btzr-io commented on #20
@Nargonath Oh lol, dont worry just checking

[2019-10-18 07:55] #49 closed

[2019-10-18 08:13] Nargonath commented on #20
No worries. I might ask you some questions about testing using the examples if I cannot figure it out myself.

[2019-10-18 17:13] btzr-io commented on #10
@maydayo sure,  go for it

[2019-10-18 17:29] btzr-io opened #55 "Rename workerPath option to workerUrl"
Rename `workerPath` to `workerUrl` to be consistent with `libarchive.js` api.

https://github.com/btzr-io/Villain/blob/b00ba2443d88702280470cf2f57f04ea7018e765/src/index.js#L15

Look for other definitions so index dont break after changes, also update `readme` and `changelog`.

[2019-10-18 17:37] btzr-io commented on #47
Looks like rollup don't support HMR ? :upside_down_face:

[2019-10-18 17:43] deniskond commented on #55
Hi, I can take this one :)

[2019-10-18 17:44] btzr-io commented on #55
@deniskond sure, go for it

[2019-10-18 17:44] btzr-io commented on #55
If some one else is working on this please leave a comment :v:

[2019-10-18 17:49] btzr-io commented on #55
Anyway feel free to check more issues: https://github.com/btzr-io/Villain/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest

[2019-10-18 18:58] #27 closed

[2019-10-18 19:03] #55 closed

[2019-10-18 21:31] TimeTerminal commented on #36
@btzr-io Just to confirm, in Book Mode the toggle should flip both images horizontally, yeah?

[2019-10-18 21:44] btzr-io commented on #36
@TimeTerminal yes, not sure whats the usual behavior on this, I don't have any programs to test it

[2019-10-18 22:13] btzr-io opened #58 "AutoHideControls prop has no effect on viewer"
**Describe the bug**
The `autohideControls` has no effect on the viewer.
It should be removed if not used anymore or try to fix it.

See: https://github.com/btzr-io/Villain#options

[2019-10-18 22:14] btzr-io opened #59 "AllowFullScreen prop has no effect on viewer"
**Describe the bug**
The `allowFullScreen` has no effect on the viewer.
It should be removed if not used anymore or try to fix it.

See: https://github.com/btzr-io/Villain#options

[2019-10-18 22:33] btzr-io opened #60 "Reduce module size"

[2019-10-18 23:02] #59 closed

[2019-10-18 23:23] DaniAcu commented on #31
Well, the PR is there, tell me if you want to change something. Or need an explanation about something.
I'm happy to contribute with you on this repo :smile:

[2019-10-18 23:29] DaniAcu commented on #47
Maybe we could use rollup-plugin-server with rollup-plugin-livereload. What do you think?

[2019-10-18 23:32] btzr-io commented on #47
@DaniAcu will it work well with react ?

[2019-10-18 23:48] btzr-io commented on #31
Thanks, I'm really new to tools like `jtest` but that pr looks good.
I'll tag you if I run into a problem, great work :v:

[2019-10-18 23:48] #31 closed

[2019-10-18 23:55] DaniAcu commented on #47
Let me try

[2019-10-18 23:56] btzr-io commented on #47
@DaniAcu well if is efficient for development as the `webapck-dev` server go ahead, thanks :v:

[2019-10-19 00:19] btzr-io opened #64 "Customizable toolbar"
Current set of options for toolbar is really limited, see https://github.com/btzr-io/Villain#options
We should provide and option to customize the toolbar elements.

## Possible solutions and ideas

- Create an `allowFeature..` props for each tool / feature
- Create a prop to choose what toolbar actions will be shown:  `actions: ['fullscreen' , ...]`
- Maybe another one to block actions:  `blockAc

[2019-10-19 01:20] btzr-io commented on #58
Fixed on: https://github.com/btzr-io/Villain/commit/b9e0e350c9b5c8a7896831e1bec743898b018630

[2019-10-19 01:20] #58 closed

[2019-10-19 01:28] btzr-io opened #65 "Auto hide controls not working when image fails to open"
**Describe the bug**
Auto hide controls not working when the viewer cant find or open and image from the archive (probably corrupted file or invalid format).

**To Reproduce**
Steps to reproduce the behavior:
1. Load an archive containing invalid images
2. Toggle auto hide
3. Se error: the controls will hide but not appear anymore.

[2019-10-19 02:38] btzr-io opened #66 "Zoom handler event affects animations"
**Describe the bug**
The zoom handler function makes the zoom animations choppy and slow.
I suspect is caused by the new implentation on the `getTargetZoom` function.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the wheel mouse button to zoom in / out.
2. See animations.

**Expected behavior**
Smooth zoom animations

https://github.com/btzr-io/Villain/blob/448b5594186876886c3ff9f654a4

[2019-10-19 04:14] btzr-io opened #67 "Optimize getTargetZoom function"
This function is used a lot inside the `render` component and should be optimized.
Related issue: #66

[2019-10-19 04:17] btzr-io opened #68 "Optimize render component"
- [ ] Optimize getTargetZoom function #67
- [ ] Zoom handler event affects animations #66
- [ ] Optimize react component

[2019-10-19 04:26] btzr-io opened #69 "Debounce resize handler"
Debounce the resize handler function on the `render` component,

https://github.com/btzr-io/Villain/blob/448b5594186876886c3ff9f654a40b82df3e6949/src/components/render.js#L161-L163

[2019-10-19 05:10] Brostafa commented on #69
@btzr-io https://github.com/btzr-io/Villain/pull/70

[2019-10-19 09:46] damiano-carradori commented on #67
Hey, can I work on that?

[2019-10-19 10:30] damiano-carradori commented on #67
I've just open a PR #72 for that

[2019-10-19 14:14] DaniAcu commented on #47
It's little tricky to do, but I will continue to research how to do

[2019-10-19 14:33] Brostafa commented on #66
@btzr-io https://github.com/btzr-io/Villain/pull/73/commits/34f5226beb2bf8bb4248712e547d048e6bb9fe71

[2019-10-19 14:36] DaniAcu commented on #60
@btzr-io I reduced the size of the bundle, I hope that this is that you search it

[2019-10-19 18:01] n1tin commented on #12
@btzr-io Have raised https://github.com/btzr-io/Villain/pull/75. Have added a native tooltip one as all the libs I tried are rendering outside of the `app` div and it is not working in fullscreen as the main content is taking up the screen and nothing outside of it can be made visible.

[2019-10-19 19:10] btzr-io commented on #41
If you want to work on this issue please leave a comment.

[2019-10-19 19:17] n1tin opened #76 "Added translation for all the texts in the page"
**Is your feature request related to a problem? Please describe.**
Currently all the text in the page are in English (tooltips, header etc.). Add translations for this

**Describe the solution you'd like**
There is no translation logic currently implemented. Add a json file with the corresponding language translation values like `messages.fr.json` so that the correct file can be picked based on th

[2019-10-19 19:17] btzr-io commented on #60
If this still can be improved please leave a comment or open a pull request, I'll close this for now.

[2019-10-19 19:17] #60 closed

[2019-10-19 19:25] #12 closed

[2019-10-19 19:52] DaniAcu commented on #6
If that it's the idea and if you think on create more components. May be we could move that to lerna. But it's only a thought
Check it https://github.com/lerna/lerna

[2019-10-19 19:55] DaniAcu commented on #6
Or maybe Styleguidist. I only think on ways to do this more easy to check the sample and maintain the code. https://github.com/styleguidist/react-styleguidist

[2019-10-19 20:45] btzr-io opened #78 "Improve tooltip"
- [x] Hide native tooltips #90
- [x] Tooltip width should adapt to text length #89
- [x] Increase spacing between `tooltip` and toolbar.
- [x] Add delay / animations for hide and show state.
- [x] Better styles for dark and light theme ?

[2019-10-19 20:49] btzr-io commented on #6
@DaniAcu Interesting, I'm also looking into: https://yarnpkg.com/lang/en/docs/workspaces/

But still unsure how to restructure the repo :thinking:

[2019-10-19 21:14] btzr-io commented on #69
I'm not sure if `debounce` is the right approach:
See full conversation: https://github.com/btzr-io/Villain/pull/70#issuecomment-544191138

[2019-10-19 21:21] btzr-io opened #80 "Reduce messages text length"
Tooltip messages are too long to display properly we should simplify the text and make it clear to user.

Related issue: #78

[2019-10-19 21:31] btzr-io commented on #10
@maydayo Are you still working on this ? let me know if you have questions or need any help :v:

[2019-10-19 21:37] btzr-io commented on #6
@DaniAcu I agree the example needs improvements ( my bad ) :upside_down_face:

I was thinking about adding a form component to toggle all props and options of the viewer.

`Styleguidist` and `storybook` also looks like great integrations but I want to keep it simple as possible, at least for know.

Could you open an issue for this ?

[2019-10-19 21:48] btzr-io opened #81 "Improve example"
Example for testing needs improvement:

- [x] Add a form component to toggle all props and options of the viewer.
- [x] File input to choose any archive file on the computer.
- [ ] Fancy css styles are not required but really appreciated :v:

See full conversation: https://github.com/btzr-io/Villain/issues/6#issuecomment-544199351

[2019-10-19 22:11] marcelorl commented on #35
couldnt get it working.

not trying anymore, thanks.

[2019-10-20 00:21] #69 closed

[2019-10-20 04:06] geekyrajshri commented on #80
Hey,
I can try this

[2019-10-20 04:38] btzr-io commented on #66
## Update
The issue appears to be more noticeable on `firefox` I tested on chrome, brave and electron and its working really smooth.

[2019-10-20 05:20] btzr-io commented on #80
@geekyrajshri There is already pr open for this: https://github.com/btzr-io/Villain/pull/82
If you think you can still improve it, please wait until gets merged

[2019-10-20 05:44] btzr-io opened #83 "Optimized mode"
Provide an option to render an optimized version of the viewer:

- Disable fancy animations.
- Optimize `openseadragon` configuration for the faster / lower quality without affecting usability.

[2019-10-20 07:14] btzr-io commented on #66
Not sure if this is related: https://github.com/openseadragon/openseadragon/issues/1078

[2019-10-20 07:30] btzr-io opened #84 "Missing aria labels and roles"
Buttons and other elements are missing the `aria` labels and roles.
See: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-label_attribute

[2019-10-20 07:37] btzr-io opened #85 "Use post css for webpack and rollup"

[2019-10-20 09:09] uuykay commented on #84
I'm happy to take this one

[2019-10-20 10:56] lumisce commented on #85
Hi I'd like to work on this!

[2019-10-20 14:39] DAMMAK commented on #25
can this be explain more.... i will love to handle it

[2019-10-20 16:59] btzr-io commented on #25
Currently we load comic book archives and extract the images like this:
[code]

We should provide an option for already extracted files like this:

[code]

[2019-10-20 18:14] btzr-io opened #89 "Tooltip width should adapt to text length"
**Describe the bug**

`Tooltip` has fixed width, it should adapt with the text length to prevent rendering unnecessary space around text.

[2019-10-20 18:17] btzr-io opened #90 "Hide native tooltips"
**Describe the bug**
We are using a custom react component to render tooltip, we don't need to show the native tooltips generated by the `title` attribute

[2019-10-20 18:22] btzr-io commented on #90
Should probably wait for: https://github.com/btzr-io/Villain/pull/86

this pr introduces a new prop for the button `ariaLabel` and should be used instead of `title` to hide the default tooltip,

[2019-10-20 18:29] btzr-io commented on #80
Closing this for now, leave a comment if this still need some changes

[2019-10-20 18:29] #80 closed

[2019-10-20 18:47] jonathanmcchesney commented on #89
Can I pick up this issue?

[2019-10-20 20:06] btzr-io opened #92 "Implement internationalization / localization of strings"
We need component / api to handle localization of strings.

See possible solution:
https://github.com/stefalda/react-localization/

## Update
- [x] `Setup react-localization`
- [x]  Wrap all strings inside the localization function.
- [x] Create option to set default locale ( language )  and control on context state.

[2019-10-20 21:26] jonathanmcchesney opened #93 "Consistent tooltip stylings for all components using the tooltip"
**Describe the bug**
Currently there is an inconsistency in the tooltip stylings across the toolbar (see screenshot below). When hovering over the slider for instance, the tooltip has a directional indicator showing the origin of the tooltip, which is not present with the usage of the tooltip on the zoom buttons etc. The slider tooltip also appears to be using a bold text font style.

**To Reprodu

[2019-10-20 21:32] btzr-io opened #94 "Smart tooltip position"
- [ ] Fix inconsistency on tooltip position.
- [x] Make `tooltip` position to be always visible ( left, right , top, bottom, center )

See current behavior:

![Screenshot_2019-10-20 Screenshot](https://user-images.githubusercontent.com/14793624/67167706-4a42aa80-f35a-11e9-9740-e5a355b202b2.png)

![Screenshot_2019-10-20 Screenshot(1)](https://user-images.githubusercontent.com/14793624/67167768-ac03

[2019-10-20 22:08] #89 closed

[2019-10-20 22:31] btzr-io opened #95 "UI component to toggle manga mode ( reversed )"
Thanks to @maydayo for implementing the core logic of the `manga mode` on #87.
Now all we need is a simple button / check box to toggle this mode on the context state.

Please consider this other issues as well: #13 #34

[2019-10-20 22:32] btzr-io commented on #34
@rahuldkjain Any progress / ideas / insights on this ?

[2019-10-21 03:06] osmarpetry commented on #85
Why do you use rollup and webpack at the same time? It's not an accusation, I just don't know why (noob doubt)

[2019-10-21 03:13] btzr-io commented on #85
@osmarpetry Lol yeah it is confusing, see: Remove webpack usage #47

[2019-10-21 05:46] btzr-io opened #99 "Split main css into different files for each component"
Currently all styles exists inside : https://github.com/btzr-io/Villain/blob/master/src/css/styles.css
We should create different files for each component:
[code]

Also please see: Use post css for webpack and rollup #85

[2019-10-21 05:54] geekyrajshri commented on #99
Can I take this up

[2019-10-21 05:57] RamanaVem commented on #99
Hey @btzr-io  can i take a look on this?

[2019-10-21 05:58] btzr-io commented on #99
@geekyrajshri sure

[2019-10-21 06:00] btzr-io commented on #99
@RamanaVem feel free to look into other issues: https://github.com/btzr-io/Villain/issues

[2019-10-21 06:39] btzr-io commented on #66
This require more work and testing.

[2019-10-21 07:37] jonathanmcchesney commented on #94
The tooltip seems to be right aligning with a slight right margin to the toolbar component it is called on. Because of this as the text my sometimes be larger than the distance to the edges of the parents container it is overflowing. Could add a text wrap style or something similar (maybe try out the overflow styling) to mitigate this.

[2019-10-21 11:55] sprakash57 commented on #92
Could you please assign this to me? i already have made some progress.

[2019-10-21 14:55] sprakash57 commented on #76
Raised PR #101 Please review. Thanks!!

[2019-10-21 14:57] btzr-io commented on #92
@sprakash57 sure

[2019-10-21 16:12] btzr-io commented on #94
@jonathanmcchesney I think some `js` will be required to handle this properly

[2019-10-21 16:29] jonathanmcchesney commented on #94
Agreed. I think both the tooltips should also be using the same styles or js if possible, their functionally at least at the moment is identical.

[2019-10-21 17:50] ismaeldcom commented on #81
I'm working on an initial *demo* component for the example. Still a lot of work to do but I want to discuss a question.

I implemented a *options parser* to create the form in a dynamic way using the default ones in state and avoid too much boilerplate when a new option is added. You'd like to continue with that or go for a manual declaration of the form?

The style will be improved, I only use a

[2019-10-21 18:04] btzr-io commented on #81
Dynamic is better ( great idea)
Awesome, looks really good! :+1:

[2019-10-21 18:15] Critchkn commented on #23
Hey there,

I'd like to work on this issue if possible!

[2019-10-21 18:23] btzr-io commented on #23
@Critchkn sure, but this is  a `mega issue` check the issues mentioned on the list or report a new one, thanks!

[2019-10-21 18:41] btzr-io opened #103 "Silder tooltip hides on interaction"
The handler component of the slider has a tooltip to show the current page number,
But it should always be visible if the user is interacting with the slider:

- [ ] Show tooltip while moving slider handler
- [ ] Show tooltip while controlling the slider with the arrow keys.

[2019-10-21 19:30] fuku710 commented on #103
I would challenge this issue

[2019-10-21 22:02] btzr-io opened #104 "Navigation shortcuts break viewer"
When pressing the arrow keys really fast or just hold it and switch between left and right, the viewer will break due an issue with zoom updates on performance.

We should denounce this keys to prevent such behavior of affecting usability.

[2019-10-21 22:14] btzr-io opened #105 "Fullscreen shortcut flips the images"
The `openseadragon` has a default shortcut key to toggle flip state of the image.
We don't need this and has conflicts with the full screen shortcut.`f`.

[2019-10-21 22:59] Dan2D commented on #105
I'll give this one a shot

[2019-10-21 23:27] Dan2D commented on #105
So, openseadragon uses switch cases for the keypress events.
The only way I found to change it was to manually change the keypress case from 102 ( f ) to something like 109 (m, for mirror?).

The problem with this, is that anytime you want to update the seadragon package, this code will be overwritten.

Alternatively, you could change your keyboard shortfuct for full screen from 'f' to something e

[2019-10-22 00:04] Dan2D commented on #105
Also, you could add event.preventDefault(); under your 'f' key press event, but you'd need to make a new function for flipping the canvas.

[2019-10-22 00:28] btzr-io commented on #105
I guess addign `event.preventDefault()` is the best option for now, I'll check the openseadragon repo to see if ther is more information.

[2019-10-22 00:29] #104 closed

[2019-10-22 03:04] btzr-io opened #107 "Localization not working"
Localization is not working properly, languages are not updating see:
https://github.com/stefalda/react-localization/issues/94#issuecomment-544777618

it was implemented on: #97

### Update
Fixed here: https://github.com/btzr-io/Villain/commit/b3d2e5b1a4a490beb1f87c66650ff20760e62fb1, maybe there is something to improve ?

[2019-10-22 03:31] btzr-io opened #109 "Slider handler component displayed behind slider-track"
The handler of the slider is displayed behind the slider track component it should be the other way around (handler always on the front)

[2019-10-22 03:33] #105 closed

[2019-10-22 04:11] #93 closed

[2019-10-22 04:11] #94 closed

[2019-10-22 04:17] hugonxc commented on #109
Could you please assign me this?

[2019-10-22 04:21] btzr-io commented on #109
@hugonxc  no need to assing`, just leave a comment that you are working on it ^^

[2019-10-22 04:22] hugonxc commented on #109
Awesome... so I'm working on.

[2019-10-22 04:26] btzr-io commented on #109
Not sure if this was introduced on: https://github.com/btzr-io/Villain/commit/36190013de45acecaf4a807788d9045f36cd3ea4, but it maybe good to look at it.

Let me know if you have any questions :v:

[2019-10-22 04:51] btzr-io opened #110 "Improve language selector"
The current component takes alot of space on the toolbar, lags of appropiate styles and needs to follow the The W3C Web Accessibility Initiative (WAI) .

Should probably be moved to a inside a menu component: see #13

[2019-10-22 05:44] transitive-bullshit commented on #81
Would love to see a screenshot + hosted demo link featured prominently in the readme. Most of the time I want to just check out a project like this quickly before deciding whether or not I want to invest the time in reading the docs.

Great work!

[2019-10-22 06:08] btzr-io opened #112 "Tooltip flickers when dragging handler"
There is a noticeable flickering on visibility of the `tooltip` while dragging the handler of the slider component.

Introduced on: #111

[2019-10-22 06:16] quaj commented on #95
hi, what icon should use to this button?

[2019-10-22 06:19] btzr-io commented on #95
@quaj Hi there is no more space on the toolbar to add new elements, we have to come with a solution `ASAP, see: #34 #13

I don think there is a  clear icon to identify this, I think a check box with a label should do the job

[2019-10-22 06:21] btzr-io commented on #95
@quaj But I'm open for suggestions, feel free to explore different ideas :v:

[2019-10-22 06:29] btzr-io opened #113 "Document supported formats and limitations"
Add a section on `readme` file about all the supported archive formats and the limitations / problems:
- Encrypted archives are not supported https://github.com/btzr-io/Villain/issues/26
- Some .rar / .cbr files fail to load https://github.com/btzr-io/Villain/issues/1

[2019-10-22 06:33] quaj commented on #95
yep, i have tested and localize button has broken. Let me try other idea, what about static button?

[2019-10-22 06:35] btzr-io commented on #95
What do you mean? is it broken ?

[2019-10-22 06:39] quaj commented on #95
ah my bad, i dont know how to describe that

the problem:
![image](https://user-images.githubusercontent.com/16853175/67263096-4dac7200-f4d1-11e9-831a-a531d086e665.png)

[2019-10-22 06:40] btzr-io commented on #95
Oh Dont worry about that, as I said I think creating a menu or a solution for the lack of space on the toolbar should be priority but feel free to add it on the toolbar as long as is easy to migrate somewhere else :v:

[2019-10-22 06:41] btzr-io commented on #95
@quaj just increase the width of the player, anyway I'll remove the language selector and move it somewhere else.

[2019-10-22 06:47] btzr-io commented on #95
@quaj I don't read manga and also don't know how lol
Can you test it with a real manga archive and leave some feedback ?
Also what browser are you using  ( let me know if you run into any issues )?

[2019-10-22 06:48] quaj commented on #95
yeah i'm using chrome and it's run pefect

i suggest language will depend from `navigator.language`, what do you think?

[2019-10-22 06:49] quaj commented on #95
I don't have any manga archive :cry:

[2019-10-22 07:54] quaj commented on #95
@btzr-io check #114 pls

[2019-10-22 08:24] fuku710 commented on #112
I fixed it on #115!

[2019-10-22 09:38] Deepam101 commented on #13
The navigation buttons should be in the middle and the other buttons can be better arranged.Can you assign this?

[2019-10-22 12:21] Nargonath commented on #20
Isn't this issue closed by the PR mentioned above?

[2019-10-22 16:52] btzr-io commented on #20
@Nargonath No, needs improvements and more shortcut keys

[2019-10-22 16:56] btzr-io commented on #13
@Deepam101 Why  in the middle ? I don't think the main problem is that there is not enough space, and we dont need to show some of the buttons, like the theme, language and probably the manga mode should exist on other component.

No need to assign just leave a comment that you are working on it :v:

[2019-10-22 18:54] hugonxc commented on #109
@btzr-io I think this issue is already solved by the commit you tagged.

![slider](https://user-images.githubusercontent.com/10819341/67320169-3460f100-f4e4-11e9-9a49-961035808b07.png)

[2019-10-22 19:04] btzr-io commented on #109
@hugonxc  please read the note: mentioned on the issue description

[2019-10-22 19:05] btzr-io commented on #109
you will need to change the colors to see  the bug.

[2019-10-22 19:07] btzr-io commented on #95
@quaj it should already auto detect the current user language ( uses navigator.language) , if is not working please open an issue.

[2019-10-22 20:02] btzr-io opened #119 "Tooltip for slider handler"
The slider handler component needs a tool tooltip display the new value that will be selected:
- It should show / hide on `mouse-over` like a normal tooltip but also while user is dragging / moving the handler.

[2019-10-22 20:08] #109 closed

[2019-10-22 20:25] #112 closed

[2019-10-22 20:25] #103 closed

[2019-10-22 20:32] ThomasLuu00 commented on #119
I would like to work on this issue.

[2019-10-22 21:11] seal62 commented on #110
Hi @btzr-io please assign to me and I will do this for you

[2019-10-22 22:41] btzr-io opened #120 "Allow-fullscreen prop has no effect on shorcut ( f )"
The component prop  `allowFullscreen` should prevent the `f` shortcut to enter on full screen if is set to `false`

[2019-10-22 22:51] cesar-cb commented on #120
Hey, can I have this issue ?

[2019-10-22 22:52] btzr-io commented on #120
@cesar-cb sure

[2019-10-22 22:57] btzr-io opened #121 "Localize error messages"
Use the new `@/localize` implementation to localize all the error `strings`:
[code]

Also add / update the missing strings on  `./locales`

See: Localization #76

[2019-10-22 23:04] minmaxdata commented on #121
can I take this? my first contribution.

[2019-10-23 00:23] lucas-barros commented on #121
@btzr-io I'm working on this, ok?

[2019-10-23 01:30] lucas-barros commented on #121
I opened the PR https://github.com/btzr-io/Villain/pull/123

[2019-10-23 02:42] #121 closed

[2019-10-23 02:42] #120 closed

[2019-10-23 03:53] fuku710 commented on #119
Thanks @ThomasLuu00 .
I made previous PR about tooltip (#111,#115) .
I may help if you need.

[2019-10-23 03:55] btzr-io opened #124 "Manga mode ignores current page"
When switching to manga mode the current page gets a reset and jumps to the first page, it should remain the same.

Also it should trigger `renderPages()` to fix the position on book mode

### Update

See: https://github.com/btzr-io/Villain/issues/124#issuecomment-545524282

[2019-10-23 03:56] btzr-io commented on #124
@maydayo any ideas ?

[2019-10-23 04:32] btzr-io commented on #124
The issue appears to be coming from the onChange function of the slider `component`

[2019-10-23 04:46] btzr-io commented on #119
Check this examples: https://sghall.github.io/react-compound-slider/#/slider-demos/tooltips

[2019-10-23 04:48] btzr-io opened #125 "File selection not working on the example demo"
Component is not update when selecting a new file on the demo example.
It should trigger an update and load the new archive selected.

[2019-10-23 04:52] btzr-io opened #126 "Create dark theme for the example demo"
Create a dark theme for the example demo:

- Should toggle with the theme selector component.
- Check the viewer dark theme for inspiration.

Also check: Theme selector on the example demo dont work #127

[2019-10-23 04:54] btzr-io opened #127 "Theme selector on the example demo dont work"
The theme selector on the example demo should toggle the theme state of the component.

[2019-10-23 06:11] seal62 commented on #110
Hey @btzr-io when you say the selector 'takes alot of space on the toolbar', do you have any suggestions in mind on how to reduce this? The way I see it, there are a few options. Remove the icon, stack the icon on top of the selector (this might look strange though), or reduce the size of the icon and selector (probably least impact on overall size). which would you prefer?

[2019-10-23 06:12] maydayo commented on #124
It seems to be working fine on my laptop. 🤔
![ezgif-1-9f6127a19c90](https://user-images.githubusercontent.com/22811877/67362981-9843f200-f596-11e9-8c3b-5f796064cfdb.gif)

[2019-10-23 06:45] seal62 commented on #110
before I create a PR, here is a commit without size changes. just added WAI and styling
https://github.com/seal62/Villain/commit/bb8289163e2733f4e64af35360e0a454dc3835d2

[2019-10-23 07:42] Nargonath commented on #20
I see. I deleted the work I did because it was covered by the above MR.

[2019-10-23 15:24] ismaeldcom commented on #127
In case it helps, I checked it while developed the demo and the component receives all the new props but don't update. The same apply for #125. In the theme case I think it might be because the component read the context and not the prop.

[2019-10-23 16:21] btzr-io commented on #124
@maydayo looks like it only happens when you drag the slider, don't use the buttons

[2019-10-23 16:54] btzr-io opened #129 "Load archive from file object"
The viewer can load archives from an url or  a `blob`, we should provide a way to also load it from a `file` object provided by a file input selector.

[2019-10-23 21:35] nik72619c commented on #126
I'll give it a try

[2019-10-23 22:18] #10 closed

[2019-10-23 22:50] #125 closed

[2019-10-23 22:53] #129 closed

[2019-10-23 23:08] btzr-io commented on #127
Fixed on: https://github.com/btzr-io/Villain/commit/fe2c311b2e1fb60c1c489366fdefce7d0f4d4a53

[2019-10-23 23:08] #127 closed

[2019-10-23 23:24] btzr-io opened #131 "Can't type or interact with zoom input"
The zoom input on the toolbar don't allow to type or the value is not updating for some reason.
Probably caused by the `getDerivatedStateFromProps` implementation.

We should be able to change the zoom levels by typing the number.

[2019-10-23 23:38] #124 closed

[2019-10-23 23:42] btzr-io commented on #110
I would prefer not to use an icon at all, this is an advance feature and it should be hidden or at least not present direclty on the toolbar (it should be just for navigation / zoom controls and probably layout mode )

[2019-10-23 23:45] btzr-io commented on #110
@seal62 But I guess those changes are great for now, can you post a screen preview and open a `pr` ?

[2019-10-24 00:11] btzr-io opened #132 "Cant properly fit pages to viewer bounds (book mode)"
If the images don't have a proportional size it wont fit to viewer bounds ( some are of images is outside the screen ) when book mode is enable ( shows two pages at the same time)

It should be centered and fit properly on the viewer.
This issue is noticeable when the pages have a large width that height.

[2019-10-24 00:21] cesar-cb commented on #131
Hey, can I take this issue ?

[2019-10-24 00:36] btzr-io commented on #131
@cesar-cb sure :+1:

[2019-10-24 00:39] btzr-io opened #133 "Invert navigation shortcuts on manga mode"
Invert the navigation controls ( left / right arrows) when manga mode is active.

[2019-10-24 00:40] #107 closed

[2019-10-24 01:02] gVirtu commented on #133
I'll have a look at this and report back shortly! :)

[2019-10-24 03:35] #133 closed

[2019-10-24 03:37] #90 closed

[2019-10-24 03:51] btzr-io opened #135 "Reduce components updates"
We should prevent unnecessary component updates by using `PureComponent` or `React.memo` whenever is possible.

### Notes

I suggest to just start with the simple ones, to make sure we don't break anything and that there is an actual performance benefit.

[2019-10-24 03:53] btzr-io opened #136 "Functional components + hooks"
We should start implementing functional components + hooks at least on the smaller components.

[2019-10-24 03:57] linsuri commented on #135
I will take this.

[2019-10-24 04:12] btzr-io opened #137 "Custom styles for checkbox"
Add a custom style for checkbox component on the demo example.

[2019-10-24 04:13] btzr-io opened #138 "Custom styles for file Input"
Add custom styles for the file input component on the demo example.

[2019-10-24 04:18] btzr-io opened #139 "Custom styles for select element"
Add custom styles for the select element component on the demo example.

[2019-10-24 05:22] btzr-io opened #140 "Css styles refactoring"
- [x] Add `villain` prefix
- [x] Clear  / tidy ip css styles.
- [x] Remove unused css styles / classes.
- [x] Better naming convention for classes.
- [x] Simplify styles.
- [x]  Split main css into different files for each component #99

[2019-10-24 05:23] btzr-io commented on #99
@geekyrajshri Are you still working on this ?

[2019-10-24 05:29] btzr-io opened #141 "Controls always hide on fullscreen"
The `autoHideControls` feature is not working properly on fullscreen mode.
When setting the pin button to false it will hide the controls and they wont show anymore.

Also this needs some improvement to handle show / hide interactions on fullscreen mode

[2019-10-24 06:10] seal62 commented on #110
Created PR, screenshot attached

<img width="1244" alt="Screenshot 2019-10-24 at 17 08 17" src="https://user-images.githubusercontent.com/5068912/67458136-2694a280-f681-11e9-86e5-cedc53c36dce.png">

[2019-10-24 06:21] RamanaVem commented on #99
@btzr-io i tried but am not able to setup locally your project if you have any simple html and css files as a modules you can share.

[2019-10-24 11:18] kamilszmajdzinski commented on #138
@btzr-io Created custom file input
Raised PR https://github.com/btzr-io/Villain/pull/146

[2019-10-24 12:37] geekyrajshri commented on #99
@btzr-io
yup i am on it , will request a PR soon

[2019-10-24 13:04] abbasCoder51 commented on #140
@btzr-io can I have a go at this please?

[2019-10-24 13:29] kamilszmajdzinski commented on #141
I'm taking this one 🤓

[2019-10-24 13:37] kamilszmajdzinski commented on #141
Fix: https://github.com/btzr-io/Villain/pull/147

[2019-10-24 14:28] kamilszmajdzinski commented on #18
I am taking this one 🦹‍♂️

[2019-10-24 16:12] kamilszmajdzinski commented on #18
https://github.com/btzr-io/Villain/pull/148

[2019-10-24 16:15] rallysson commented on #19
Hi, can i take this one?

[2019-10-24 16:39] btzr-io commented on #19
@rallysson sure :+1:

[2019-10-24 16:46] btzr-io commented on #18
@kamilszmajdzinski Looks good :heart:

- The logo image looks a little distorted (but we should probably change it to a svg)
- The modal component should have `accessibility`
-  That tooltip should be aligned to the center

I like the colors but I'm not sure if they are good for `accessibility` see: https://accessible-colors.com/

[2019-10-24 16:48] btzr-io commented on #140
@abbasCoder51  sure

[2019-10-24 16:50] btzr-io commented on #99
@RamanaVem What is the problem, do you see any errors  ? Please open an issue so I can help

[2019-10-24 17:44] btzr-io opened #149 "Accesible colors"
I like the colors but I'm not sure if they are good for accessibility see: https://accessible-colors.com
- Add any tools for this ?
- Update colors of light theme to match best / close `accesible-color`.
- Update colors of darkt theme to match best / close `accesible-color`.
- Update example demo colors theme to match best / close `accesible-color`.

[2019-10-24 19:00] seanyesmunt opened #155 "Move react/react-dom deps into `peerDependencies`"
So apps using this module don't have two version of react in their node_modules

[2019-10-24 19:26] btzr-io commented on #131
@cesar-cb are you still working on this ?

[2019-10-24 21:47] abbasCoder51 commented on #140
@btzr-io #160

[2019-10-25 00:05] btzr-io opened #163 "Refactor tooltip component"
The current implementation of the `tooltip` component is pretty bad at is causing alot of issues ( see: #119 #78 and more accessibility issues  ).

We should use an existent solution like the  `reach-ui` tooltip component.

https://github.com/reach/reach-ui
https://github.com/reakit/reakit

[2019-10-25 00:08] btzr-io opened #164 "Tooltip hide / show fails"
- If you move the mouse really fast on the toolbar sometimes the `tooltip` just stays there and doesn't hide. ~Not sure if this is also a bug on chrome.~

- Full screen tooltip doesn't hide when enter / exit  fullscreen mode.

Please consider this as a solution: https://github.com/btzr-io/Villain/issues/163

[2019-10-25 00:51] btzr-io opened #165 "Implement reakit"
Creating core components like buttons and tooltip is becoming hard to maintain and takes a lot of time to integrate accessibility (WIA-ARIA standars):

- [x] Buttons
- [x] Tooltips #163
- [x] Checkbox
- [x] Toolbar
- [ ] Text inputs
- [ ] Numeric inputs
- [ ] Selectors ( Dropdown menu )
- [x] Menu #13

We should use an existent solution to handle this, right now `reakit` seems the way to go, but I

[2019-10-25 00:55] cesar-cb commented on #131
@btzr-io, I was going to look this issue today, but you can merge @jenniferharmon PR, I will look into another issue

[2019-10-25 02:21] shingz96 commented on #149
you can use the Contrast color with YIQ formula

[2019-10-25 05:09] #155 closed

[2019-10-25 05:32] RamanaVem commented on #99
Hey @btzr-io  i am new for YARN so could you help me.
![Screenshot_3](https://user-images.githubusercontent.com/56436577/67545477-d700b600-f716-11e9-9de4-8138b30d36fe.png)

just check what error am etting.
mailid: ramana.webdev@gmail.com

[2019-10-25 05:55] Deepam101 commented on #13
@btzr-io Got it...but can you elaborate what's page rotation?

[2019-10-25 12:49] Tarektouati commented on #165
i'll do it , can you assign me to this ?

[2019-10-25 17:22] netochaves commented on #136
I'll work on `render` component.

[2019-10-25 17:50] btzr-io commented on #165
@Tarektouati sure :+1:

[2019-10-25 17:52] btzr-io commented on #126
For the example page (that includes the sidebar)

[2019-10-25 17:54] btzr-io commented on #13
@Deepam101 Buttons to rotate the images :upside_down_face:

[2019-10-25 17:59] btzr-io commented on #99
@RamanaVem you need to follow the `dev` instructions: first you need to run `yarn` to install the dependecies.

See: https://github.com/btzr-io/Villain#development

:warning:  Please open an issue to discuss this further so we don't spam this issue.

[2019-10-25 18:03] btzr-io commented on #165
Please read the note at the bottom ^^

[2019-10-25 18:08] #131 closed

[2019-10-25 18:55] nik72619c commented on #126
so its the <demo/> right ? I hope I'm not missing anything

[2019-10-25 18:58] btzr-io commented on #126
yes here: https://github.com/btzr-io/Villain/tree/master/examples

[2019-10-25 18:59] nik72619c commented on #126
okay, thanks a lot :)

[2019-10-25 21:07] nik72619c commented on #126
ref #168 @btzr-io , please have a look and suggest changes if any.

[2019-10-26 01:17] btzr-io commented on #165
@Tarektouati Let me know if you have any questions :v:

[2019-10-26 14:01] anusha5695 commented on #164
Hi I would like to work on this

[2019-10-26 16:13] brkn commented on #41
Hi! I couldn't find a `browserlist`, which browser you would like to support?

[2019-10-26 17:43] btzr-io commented on #164
@anusha5695 Sure

[2019-10-26 18:01] btzr-io opened #169 "Setup scss for webpack and rollup"
Scss setup for webpack and rollup

[2019-10-26 19:14] Tarektouati commented on #165
@Btz-io okay i’ll do a PR components 😊

[2019-10-27 09:28] anusha5695 commented on #164
@btzr-io : Sure 👍

[2019-10-27 20:05] abbasCoder51 commented on #140
@btzr-io #175

[2019-10-28 01:25] btzr-io opened #177 "Ignore folders on publish"
This package only need the production bundle on the `dist` folder, the rest is used for development and testing. We should found a way to ignore the other folders every time the package is published.

[2019-10-28 01:30] btzr-io commented on #165
@Tarektouati I did some progress with the menu, `tooltips` are a priority due the current component causing alot of issues, let me know if you can start with that :v:

[2019-10-28 01:36] neckenth commented on #177
@btzr-io Can I take this on?

[2019-10-28 02:01] btzr-io commented on #177
@neckenth sure, probably a `.npmignore` file will do the trick, see:
https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

[2019-10-28 02:27] neckenth commented on #177
@btzr-io thank you! Would you be able to assign me to this issue?

In addition, would you mind please adding me as a collaborator so I can push up my branch and open a PR?

[2019-10-28 02:29] btzr-io commented on #177
You should be able to push your branch from your forked repository.

[2019-10-28 02:40] #137 closed

[2019-10-28 02:40] #139 closed

[2019-10-28 02:47] #177 closed

[2019-10-28 02:56] btzr-io opened #180 "Use svg for the project logo"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-10-28 03:46] btzr-io opened #181 "Add missign options in readme file"
Add missing component options on `readme` file: https://github.com/btzr-io/Villain#options

[2019-10-28 03:53] btzr-io opened #182 "Improve input validation"
The current inputs on the toolbar component requires some improvements:

- [ ] Validation for current page input
- [ ] Validation for current zoom level

[2019-10-28 05:35] #126 closed

[2019-10-28 07:11] Tarektouati commented on #165
@btzr-io Yes of course, i'll start with tooltips refacto today !

[2019-10-28 10:01] Tarektouati commented on #165
@btzr-io  I've submitted a PR waiting for review pls , let me know if i did something wrong before i start working on an other component 😄

[2019-10-28 17:06] #181 closed

[2019-10-28 17:57] jkvyff commented on #180
updated logo, but you may want to host the file in your own gist or at least maintain a copy.

[2019-10-28 18:02] btzr-io commented on #180
@jkvyff Thanks but I'll work on this since I have the `svg` files,
Feel free to check other issues: https://github.com/btzr-io/Villain/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest

[2019-10-28 19:39] mskuybeda commented on #182
May I give it a try?

[2019-10-28 19:40] btzr-io commented on #182
@mskuybeda Sure

[2019-10-28 19:51] mskuybeda commented on #182
A small question though, what do you want to validate in Zoom level?

[2019-10-28 19:51] brkn commented on #41
I want to work on this issue by the way.

[2019-10-28 20:02] btzr-io commented on #41
@brkn Hi, sorry for the late response, yeah looks like the css property posted on the link is not available yet on all browsers, not sure if there is alternative solution that can support more browsers.

Thats a good idea, no there is no browser list ATM  is there any tools to test different browsers ?

I think a priority is Firefox and chromium based browsers ( chrome, electron, brave )
I dont us

[2019-10-28 20:04] btzr-io commented on #41
@brkn I think IE and edge are supported but I haven't do a proper test on those browsers, so idk

[2019-10-28 20:08] btzr-io commented on #182
@mskuybeda Right now you can't remove all numbers while typing so its annoying ( there is always a number displayed  cant be an empty string ) and is hard to use.

Also we should check for min and max values, currenty the min value in zoom is a dynamic value generated inside the render component, and the max value is "100%",

[2019-10-28 20:09] btzr-io commented on #182
Check the `currentPage` input on the `naviagtion` component.

[2019-10-28 20:42] mskuybeda commented on #182
So for zoom, do you want to make a minimum as low as 0% for all images?  Or enable user to change it to any value?

[2019-10-28 20:47] btzr-io commented on #182
No the min zoom value is calculated on the render component

[2019-10-28 21:14] mskuybeda commented on #182
Ok. Still not really sure what do you want to change to a current state. Right now as I understand it calculates min zoom value depending on the image. Different images have different min value. What would you like to change about it?

Secondly, I have almost finished preview. Would you like it to appear empty on load or to still have **now erasable** 0

[2019-10-28 21:33] btzr-io commented on #182
Empty is fine,  thanks :v:

[2019-10-29 04:01] btzr-io commented on #164
Fixed by https://github.com/btzr-io/Villain/commit/ef517acf9f8c219676e81439b3110ec7e6f5379f

[2019-10-29 04:01] #164 closed

[2019-10-29 04:02] btzr-io commented on #163
Fixed by https://github.com/btzr-io/Villain/commit/ef517acf9f8c219676e81439b3110ec7e6f5379f

[2019-10-29 04:02] #163 closed

[2019-10-29 04:06] btzr-io commented on #165
Update on tooltip, see: https://github.com/btzr-io/Villain/pull/185#issuecomment-547247082

[2019-10-29 04:09] btzr-io opened #188 "Animated transition for tooltip component"
The current tooltip component lacks of a proper animation / transition (fade) for the visibility state.

- [ ] Add tooltip animated transition.
- [ ] Add a delay time for show / hide tooltip.

[2019-10-29 04:10] btzr-io opened #189 "Hide tooltip on click"
The `tooltip` component should hide when the users clicks the button.

[2019-10-29 05:42] shakti97 commented on #189
Would like to work on this

[2019-10-29 05:49] btzr-io commented on #189
@shakti97 sure

[2019-10-29 07:16] Bhavesh27 commented on #188
Can i take this up?

[2019-10-29 07:29] lucasjs commented on #149
@btzr-io Hey, may I help you?
I'm helping some open source projects with that issue (you can see some pull requests on my profile).

Let me know if you need me. :)

[2019-10-29 12:21] mskuybeda commented on #182
Created a pull request for preview line.

[2019-10-29 16:26] Sonam3107 commented on #189
Can I still take this up?

[2019-10-29 16:30] btzr-io commented on #189
@Sonam3107 This requires knowledge on react and `reakit` https://reakit.io/, unless you going to start working on it right away I suggest you to look into other issues:

https://github.com/btzr-io/Villain/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest

[2019-10-29 17:36] Sonam3107 commented on #189
Sure.

[2019-10-29 17:36] Sonam3107 commented on #135
Can I give this a try?

[2019-10-29 21:46] btzr-io opened #192 "Online Community"
Create an online community to further discuss bugs, ideas and feedback.
please vote with a reaction:

- :+1:  Slack
- :heart: Discord
- :tada: Spectrum chat
- :thinking: Other ( leave a comment )

[2019-10-29 22:07] lucasjs commented on #149
@btzr-io After checking with a few validators, all colors are fine.
But, a few `aria-label`'s are missing in the buttons.

I could help with that too. What's better, change this issue or create a new one?
I'm already working on that.

[2019-10-29 22:11] btzr-io commented on #149
@lucasjs Feel free to create a new one, but I think is part of #84

[2019-10-29 22:14] jkvyff opened #194 "Checking "allowGlobalShortcuts" doesn't enable shortcuts globally"
**Describe the bug**
Even when checking the "allowGlobalShortcuts" checkbox, shortcuts are not enabled unless focus is on "instance"

**To Reproduce**
Steps to reproduce the behavior:
1. Load demo app
2. Click on side panel
3. Press arrow key right to page right(nothing happens...as it shouldn't)
4. Click on "allowGlobalShortcuts"
5. Press arrow key right to page right again, still nothing.
6. See

[2019-10-29 22:16] lucasjs commented on #149
@btzr-io that's nice!

<img width="979" alt="Screen Shot 2019-10-29 at 19 14 31" src="https://user-images.githubusercontent.com/14945222/67813476-617f4780-fa80-11e9-95da-1d681e9ec04c.png">
<img width="729" alt="Screen Shot 2019-10-29 at 19 15 30" src="https://user-images.githubusercontent.com/14945222/67813523-7b208f00-fa80-11e9-8dcf-b20233b1bc3a.png">

Then, all colors are ok. :)
Great job!

[2019-10-29 22:20] btzr-io commented on #149
@lucasjs Wow that looks interesting what is that tool (validator) ?

[2019-10-29 22:21] btzr-io commented on #149
@lucasjs Do you know any tools like that one, to integrate on the project ?

[2019-10-30 17:19] btzr-io opened #196 "Tooltip dont hide on dissabled button"
The `tooltip` don`t hide when the button is disabled, at least on Brave browser.

### Update
- Works fine on firefox.
- It should still work on disabled buttons, at least that's the intended behavior.

Please check: https://github.com/reakit/reakit/issues/471

[2019-10-30 17:29] giubatt commented on #196
I'll work on this

[2019-10-30 18:58] btzr-io commented on #196
![bravt](https://user-images.githubusercontent.com/14793624/67889611-6689d880-fb0c-11e9-962f-74cd23fcacf7.gif)

[2019-10-31 04:56] lucasjs commented on #149
@btzr-io I do! In a few days I'll come back on this issue. :)

[2019-10-31 09:44] brkn commented on #41
There is this tool: <browsersl.ist>.
You might want to check out this [article](https://css-tricks.com/browserlist-good-idea/) too!

I will investigate this issue further really soon. I'm not sure if there is a workaround for other browsers for that.

[2019-11-01 00:05] #194 closed

[2019-11-01 00:09] btzr-io commented on #149
@lucasjs  ok, thanks :v:

[2019-11-01 05:08] btzr-io opened #203 "Slide transition for menu component"
Implement a way to have a slide transitions inside the menu component.

Please check this example to see the desired effect: https://codepen.io/btzr-io/pen/yVGGbY

Check the `youtube` player on a desktop browser for inspiration,

[2019-11-01 14:04] negreirosleo commented on #192
I think Discord would be great, its easy and acessible :thinking:

[2019-11-01 14:07] felipebrunetti94 commented on #203
Hello, can I take this one ?

[2019-11-01 14:54] btzr-io commented on #203
@felipebrunetti94 we are using `reakit` for the menu components. please check the docs first:
https://reakit.io/

[2019-11-01 14:56] felipebrunetti94 commented on #203
just one question, the slider you refer is the slider where you move the frames ? and you want a frame preview just like in youtube ? Just to be sure...

[2019-11-01 15:01] btzr-io commented on #203
@felipebrunetti94 No, the `menu` component (Settings) please check the examples mentioned.

[2019-11-01 15:38] btzr-io opened #204 "Add language selection on menu options"
The menu (Settings) component should have a language selection item.

- Using `dropdown` component is not recommended given the lack of space.
- A slide transition will be nice https://github.com/btzr-io/Villain/issues/203

[2019-11-01 16:24] #119 closed

[2019-11-01 16:42] felipebrunetti94 commented on #203
Now I got it kkk, sorry friend. Coding right now :D

[2019-11-01 16:50] btzr-io commented on #203
Please check: https://reakit.io/docs/menu/

[2019-11-01 21:38] #196 closed

[2019-11-06 16:28] Larissagilliane opened #208 "Add tests to each component"
**Is your feature request related to a problem? Please describe.**
Most of components don't have any tests, so you as a developer can't know if your component is working perfectly as you desire.

**Describe the solution you'd like**
So add tests to each component.

[2019-11-11 01:56] #65 closed

[2019-11-11 01:56] #141 closed

[2019-11-11 08:13] #113 closed

[2019-11-11 09:24] #95 closed

[2019-11-11 09:25] #78 closed

[2019-11-11 09:25] #110 closed

[2019-11-11 09:27] #13 closed

[2019-11-11 09:29] #204 closed

[2019-11-11 09:33] #99 closed

[2019-11-12 01:54] btzr-io opened #213 "Animations ( react spring )"
Implement react spring to handle component animations.
https://github.com/react-spring/react-spring

### Todo
- [x] Tooltip animations #188
- [x] Menu animations #203
- [ ] Toolbar animations

[2019-11-12 02:31] #92 closed

[2019-11-12 22:58] btzr-io opened #214 "Plugin system"
Create a plugin system to integrate external `apis` or extensions.

[2019-11-12 23:20] btzr-io opened #215 "Thumbnails"
Generate, compress and resize thumbnails from each page.

[2019-11-13 01:59] #180 closed

[2019-11-13 04:59] #138 closed

[2019-11-13 05:13] #140 closed

[2019-11-13 06:01] #169 closed

[2019-11-13 21:00] #132 closed

[2019-11-15 05:36] btzr-io opened #219 "Render improvements"
Document render improvements for next relase: `1.0.2`

- Refactoring of layout render https://github.com/btzr-io/Villain/commit/0fff04106c931d59f5bc9b6a9f4d0a75a53bb7f5 ( Resize images to fit same height )

- Fix cant properly fit pages to viewer bounds (book mode) #132: https://github.com/btzr-io/Villain/commit/2f59ad8d9c3a455de916174e458c9b67f422aeb6

[2019-11-16 21:16] btzr-io opened #220 "Peformance issues on Focus / blur event listener"
**Describe the bug**
Focus and blur event listener Interrupts animations with `reakit` and `react-spring`.

Also triggers unnecessary updates

[2019-11-16 23:18] btzr-io opened #221 "Manga mode is not optimized"
Manga mode needs some optimizations, it shouldn't trigger a full re-render on of the pages.
It just need to switch the position of the tiles.

[2019-11-22 01:28] #213 closed

[2019-11-22 01:28] #188 closed

[2019-11-22 01:28] #220 closed

[2019-11-22 01:28] #221 closed

[2019-11-22 03:30] btzr-io opened #222 "Set current user language from system or browser if available as default"
Set current user language from system or browser if available as default.

[2019-11-22 03:55] btzr-io opened #223 "Images and icons missing label description"

[2019-11-23 04:23] btzr-io opened #224 "Get a domain name for the web-app"
Any ideas?

[2019-11-25 21:21] btzr-io opened #225 "Custom themes"
Load and select an external custom theme.

[2019-11-25 22:17] btzr-io opened #226 "Rename "file" prop to "source""
Rename "file" prop to "source".

[2019-11-25 22:58] kauffj opened #227 "Use more inclusive regexp for matching file paths"
Per this discussion over on lbry-desktop: https://github.com/lbryio/lbry-desktop/issues/2777#issuecomment-558000435

As long as you are in ES2018 or later land, you can use the capture group `\p{L}` to represent all letters and `\p{N}` all numbers. So you could use this (untested) regexp instead:

` /^[\p{L}\p{N}_@()-][\p{L}\p{N}_.@()-\s]+.(jpeg|jpg|png|bpm|webp)$/`

[2019-11-26 00:10] btzr-io commented on #227
Alternative: https://github.com/slevithan/xregexp

[2019-11-26 00:16] btzr-io commented on #227
Looks like we can use this syntax directly with :
https://github.com/josephfrazier/babel-plugin-transform-xregexp

[2019-11-26 00:33] btzr-io commented on #227
It should be like this:
[code]

[2019-11-26 00:58] #227 closed

[2019-11-26 01:01] btzr-io commented on #50
Fixed by https://github.com/btzr-io/Villain/commit/240a84b30a8c484dca1fc52d217763ea689f9318

Pleas Re-open or leave a comment if the issue still exists :upside_down_face:

[2019-11-26 01:02] #50 closed

[2019-11-26 03:25] btzr-io commented on #227
Actually this is the correct regex with the unicode support:
https://github.com/btzr-io/Villain/blob/b133147f71ce145b089e1b4a359e3cbb65b5d773/src/lib/utils.js#L5-L7

[2019-11-26 03:31] btzr-io commented on #227
See: https://github.com/nika-begiashvili/libarchivejs/issues/19

[2019-11-26 20:08] btzr-io opened #228 "Libarchivejs worker is not terminated"
We dont use `extractFiles` so worker is never terminated.

See: https://github.com/nika-begiashvili/libarchivejs/issues/20

[2019-11-27 00:22] btzr-io opened #229 "Can't render more than one instance of the component"
If you create multiple component instances only one will render images:
- Each component should have a different id for the `openseadragon` canvas ,
 - I think will be better to use a ref in this case.

[2019-11-27 00:59] #228 closed

[2019-11-27 00:59] #229 closed

[2019-11-27 01:00] btzr-io commented on #226
Closed by https://github.com/btzr-io/Villain/commit/cc59bfa8ec82ee090b4ccd3e427aa1eebad570cd

[2019-11-27 01:00] #226 closed

[2019-11-27 21:28] btzr-io opened #230 "Ebooks integration"
What other formats should this support besides compressed archives ?

I think `epub` is a good option, `pdf` is also commonly used but it wont be a optimized for text content, just images.

### Possible solution
https://github.com/mozilla/pdf.js
https://github.com/futurepress/epub.js/

[2019-11-28 04:46] btzr-io opened #232 "Type checking for components"
Currently `PropTypes` is used for this, but requires updates and is not implemented on all components yet.

I'm not sure if using a static type checkers like flow and typeScript will be a better option, feel free to leave a a comment if you have some insights.

[2019-11-28 19:43] #6 closed

[2019-11-28 19:43] #22 closed

[2019-11-28 20:42] btzr-io opened #233 "Update main readme with mono repo changes"
This repository is now a `mono-repo` and will host the react component and the web-app as well.

The current `readme` is from the react component package so it contains irrelevant information that needs to  be replaced.

[2019-11-28 22:14] #233 closed

[2019-11-30 02:01] btzr-io opened #234 "Debug mode"
Useful for development:

- Display current process / action info and relevant data...
- Archive extraction show debug messages

[2019-11-30 05:54] btzr-io commented on #5
inital implementation on https://github.com/btzr-io/Villain/commit/f7f61b5c930f658eaaeecfd35aee1038dd7b4983

[2019-11-30 05:55] #85 closed

[2019-11-30 06:37] btzr-io opened #235 "Wrong sort order on some archives"
Unclear whats causing this, could be an isolated issue:

Test archive:
https://github.com/workhorsy/uncompress.js/blob/master/example_rar_5.rar

[2019-11-30 06:52] btzr-io commented on #235
Looks like sorting was disabled  for some reason :confounded:

[2019-11-30 20:11] btzr-io opened #236 "Custom render for images ( villain-render )"
Currently `villain` uses `Openseadragon` to render and control the zoom, pan and navigation of images, but is kind of outdated and there is not`webgl` support, also is overkill to have since is used primarly for high-resolution zoomable images.

### Possible solution
 https://www.pixijs.com/
https://github.com/inlet/react-pixi

See: Use webgl #238

[2019-11-30 20:16] btzr-io opened #237 "Option to force sorting order"
Sorting the images array is not usually necessary but in some rare cases is required.

We could add an option or prop like `forceSort: true`

See related issue: Wrong sort order if image on rar archives #235

[2019-11-30 20:25] btzr-io opened #238 "Use webgl"
Render pages (images) using webgl

[2019-11-30 20:29] btzr-io commented on #219
Connect: https://github.com/btzr-io/Villain/issues/236

[2019-12-01 03:16] #237 closed

[2019-12-01 03:31] btzr-io commented on #235
I'll close this now,
Please leave a comment if the  issue is not resolved by the solution mentioned above.

[2019-12-01 03:32] #235 closed

[2019-12-01 04:09] btzr-io opened #239 "Open archive from local storage"
Allow users to load local archives. ( file input )

- Add a file input button to open archive.
- Drag and drop support ?

[2019-12-01 19:21] btzr-io opened #240 "Events subscription api"
Provide a subscription `api` for events:

- [ ] Trigger event on error
- [ ]  Trigger event when page load / change.
- [ ] More ? ...

[2019-12-01 22:30] btzr-io commented on #5
beta version live at: https://btzr-io.github.io/Villain/

[2019-12-01 23:00] btzr-io commented on #224
Awaiting for: https://github.com/js-org/js.org/pull/3577

[2019-12-02 04:02] #66 closed

[2019-12-03 22:14] btzr-io opened #241 "Create a service worker"
- [ ] Cache data
- [ ] Offline support

[2019-12-04 08:17] nika-begiashvili commented on #5
I think it would be great if you had sample comic book on live beta version

[2019-12-05 06:41] btzr-io commented on #5
Drag and drop support: https://github.com/btzr-io/Villain/commit/c184f3a6a07b5ce2d21472971a6081503b020a3f

[2019-12-07 22:39] btzr-io commented on #224
New domain: https://villain.js.org/

[2019-12-07 22:39] #224 closed

[2019-12-28 16:14] DaniAcu commented on #240
QQ: When you trigger an error you expect that the component shows some alert or something. Because if we have some error I suppose that the component could be work wrong. So maybe it's a good idea to put a message to say to the user that report that fails if he wants as an issue on the repo. But it's only an idea. In any case, what's the status that you expect when the component when that fails an

[2019-12-28 22:56] btzr-io commented on #240
Actually there is a component for that:
https://github.com/btzr-io/Villain/blob/master/packages/villain-react/src/components/renderError.js

I like the idea of adding a link or button to report the issue :+1:

[2019-12-28 22:59] btzr-io commented on #240
This api will be used when developers need to do something when a certain event occurs, like showing a custom error view.

[2019-12-28 23:31] DaniAcu commented on #64
Maybe we could try with another pattern to be more reusable. For example, the final use could be...
<Villain>
<Villian.Button prop={value}></Villian.Button>
</Villian>
I don't know, how are some of the final cases that you are thinking, maybe if you could help me with vision or more context I could help with more robust ideas. :stuck_out_tongue_winking_eye:

[2019-12-29 22:52] btzr-io commented on #64
I like that approach, not sure how easy will be to integrate due the current structure / state management.

[2020-01-03 19:51] DaniAcu commented on #230
I’m super excited to take it. Assign me if you want

[2020-01-03 19:54] DaniAcu commented on #241
That issues did that I thought on a desktop app. What do you think if we create a package with a electron app that use this component. I don’t know, I think that it will be awesome

[2020-01-06 02:14] btzr-io commented on #230
@DaniAcu I'm not sure whats the right approach to handle this, or if is relevant to have internally, maybe create a plugin for this ?
https://github.com/btzr-io/Villain/issues/214

[2020-01-06 02:15] btzr-io opened #316 "Desktop app"

[2020-01-06 02:16] btzr-io commented on #241
@DaniAcu Great idea: https://github.com/btzr-io/Villain/issues/316

[2020-01-06 02:17] DaniAcu commented on #230
Awesome. Let me spike that on this week and share some ideas about how start with that

[2020-01-06 04:28] btzr-io opened #317 "PDF integration"
- [ ] Convert pdf pages to raw images.
- [ ] Load Array of images #25

[2020-01-07 18:57] btzr-io opened #322 "Open collective"
Setup `open-collective`:

- Sponsor link
- Contributors, sponsors grid view.

[2020-01-09 18:34] btzr-io commented on #322
Update: Collective created at https://opencollective.com/villain

[2020-01-09 18:34] #322 closed

[2020-01-23 20:59] btzr-io opened #357 "Improve support for rar files"
Need a better way to handle `rar` files:  https://github.com/tnikolai2/libunrar-js

[2020-01-30 23:04] DaniAcu commented on #230
I tried many ideas and read a lot. So now I think that we could use a Factory. Check this sample and tell me if you are agree with that and I could start implementing that. https://sourcemaking.com/design_patterns/factory_method/java/1

[2020-02-02 19:42] btzr-io commented on #230
@DaniAcu Looks interesting, sure feel free to open a PR, let me know if you have more questions or need any help :v:

[2020-02-02 20:00] DaniAcu commented on #230
Thanks maybe if you have some documentation about how works the renderer or some overview could be helpful.

[2020-02-04 02:59] btzr-io commented on #230
The render is just a react component for `openseadragon`
https://github.com/btzr-io/Villain/blob/master/packages/villain-react/src/components/render.js

[2020-04-26 05:25] btzr-io opened #446 "Hooks!"
Hooks will make the `api` more transparent and easy to access, there will be no need to provide a UI and devs will have free access to build controls and extensions without limitations of the current structure.

Here are some initial tasks:

- [x] Expose the context provider of the component
- [x] Expose methods as hooks ( `useNavigateToPage`, `useGetZoomLevels`, etc... )

[2020-04-26 05:30] btzr-io commented on #240
I'll merge this issue with: #446

[2020-04-26 05:30] #240 closed

[2020-04-26 05:36] btzr-io commented on #446
Currentrly methods live inside `context.js`:
https://github.com/btzr-io/Villain/blob/master/packages/villain-react/src/context.js

[2020-04-26 05:42] btzr-io commented on #446
react-router provides a similar `api`:

https://github.com/ReactTraining/react-router/blob/master/packages/react-router/modules/hooks.js
https://github.com/ReactTraining/react-router/blob/master/packages/react-router/modules/Router.js

[2020-04-26 05:55] btzr-io commented on #230
@DaniAcu Hooks should help with this  #446

[2020-04-26 06:07] btzr-io commented on #136
Moving this to Hooks! #446

[2020-04-26 06:07] #136 closed

[2020-04-26 06:15] btzr-io commented on #446
I'll start to do some work on this branch, please let me know if you want to help :v:
https://github.com/btzr-io/Villain/tree/hooks

[2020-05-10 22:11] btzr-io opened #481 "Use a better dev-server for testing"
**Describe the bug**
If we use create-react-app for the component playground demo and the web app it  should help keep things more simple and clean.

See https://github.com/btzr-io/Villain/issues/47

[2020-06-05 22:58] mundane140 commented on #481
Can work on this one.

[2020-06-08 13:29] mundane140 commented on #481
I'll need some directions. I can see that this is a mono repo and this will be my first time with monorepo. Should I just initialize my work as villian-cra in packages dir?

[2020-06-08 19:09] btzr-io commented on #481
I created a react app that runs on the `webpack-dev` server to test the `villain-react` component,
I think this added unnecessary config files and dependencies and I want to keep this simple as possible:

Basically all you need to do is:
- Create a `create-react-app` inside the `villain-react` package directory, I suggest to keep the current name: `dev-sandbox`

- Move the contents of [villain-rea

[2020-06-08 19:16] btzr-io commented on #481
For the web app, I just want to convert this to a `create-react-app`, I'm not sure exactly what changes will be require, but I don't think will be that easy 😛

https://github.com/btzr-io/Villain/tree/master/packages/villain-web

[2020-06-08 22:37] mundane140 commented on #481
Hahahahahaha... Let me see what I can do. Its 4 am here and I am about to crash. I'll get back with some updates tomorrow.

[2020-06-14 05:50] mundane140 commented on #481
While copying files from `dev-sandbox` to `cra`, I noticed a `@/index.js` import statement. I have copied everything to the `cra/src`, have added import statements from the `index.js in dev-sandbox` to `index.js in cra`.

[2020-08-09 00:45] DaniAcu commented on #230
I was looking into all the code.
The first one is that all files that we are supporting, is support like image containers. Because on uncompress.js we are creating pages according to the image that we have on the Blob.
If we just support images, because that it's rendered just comics. It's fine and epub is already supported. But if we want to extend our reader to be used on books or other things.

[2020-08-09 17:40] btzr-io commented on #230
Epub is not supported yet, thats why I open this issue to track development of more ebook formats like `epub` `pdf` etc...

[2020-08-09 17:43] btzr-io commented on #230
The priority is to support comic-archive files, but if we could extend the support to other files / formats that will be great. Maybe as a plugin or extension if is not a viable option to add it in the main repo.

[2020-08-18 19:10] btzr-io commented on #481
See: https://github.com/btzr-io/Villain/pull/538#issuecomment-675660864

[2020-08-18 19:14] btzr-io opened #634 "Villain v2.0.0"
Tracking progress for next version:

- Refactor repository structure.
- Fix UI bugs.
- Add missing languages to the build.
- Add Hooks ?

[2020-08-18 19:17] btzr-io commented on #241
I'll use create-react-app for the website, this will resolve that issue.

[2020-09-02 00:10] btzr-io commented on #481
I'm going to use nollup for the dev-server and remove any webpack usage: https://github.com/PepsRyuu/nollup

[2020-09-02 00:10] #481 closed

[2020-09-03 01:13] btzr-io commented on #634
Quick draft for the new API (based on hooks and events )
[code]

[2020-09-03 01:40] btzr-io commented on #634
Also added a better way for tracking the progress from loading the archive to extraction of images.
based on the HtmlMediaElement.ready state property. It can be used instead of writing custom events.
[code]

[code]

[2020-09-03 04:47] #5 closed

[2020-09-03 20:06] btzr-io commented on #25
This is now implemented on  `v.2.0.0`

[2020-09-03 20:06] #25 closed

[2020-09-03 22:39] btzr-io commented on #446
First draft of Navigation hook:

[code]

[2020-09-04 00:28] btzr-io commented on #230
This definitely  should be a plugin or extension, not priority, I'll close this for now.

[2020-09-04 00:28] #230 closed

[2020-09-04 00:29] btzr-io commented on #317
This definitely  should be a plugin or extension, not priority, I'll close this for now.

[2020-09-04 00:29] #317 closed

[2020-09-04 00:29] btzr-io commented on #35
I'm not sure this is relevant anymore

[2020-09-04 00:29] #35 closed

[2020-09-04 00:37] btzr-io commented on #192
Feel free to join the new Discord server:
https://discord.gg/CeuNsSd

[2020-09-04 00:37] #192 closed

[2020-09-04 00:47] #149 closed

[2020-09-04 00:48] btzr-io commented on #215
This should probably be a plugin.

[2020-09-04 00:48] #215 closed

[2020-09-04 00:48] #165 closed

[2020-09-04 01:57] btzr-io commented on #446
First draft of Pages hook:

[code]

[2020-09-04 02:09] #234 closed

[2020-09-04 21:19] btzr-io commented on #26
This was implemented as a react hook, on villain 2.0.0

[code]

[2020-09-04 21:21] btzr-io commented on #446
New react hook implemented: `useEncrypted()`, to handle encrypted archives: https://github.com/btzr-io/Villain/issues/26#issuecomment-687391554

[2020-09-04 23:05] #26 closed

[2020-09-06 02:44] btzr-io commented on #446
Hooks are now part of the new `villain-react/sdk` module

[2020-09-06 02:44] #446 closed

[2020-09-06 02:45] btzr-io commented on #239
This was added on the web app

[2020-09-06 02:45] #239 closed

[2020-09-06 02:47] btzr-io commented on #46
I can finally close this, Villain 2.0.0 has a better `rollup` configuration

[2020-09-06 02:47] #46 closed

[2020-09-06 18:59] btzr-io opened #675 "Use a documentation site generator"
https://docsify.js.org/#/

[2020-09-07 04:29] btzr-io commented on #64
Thanks to the new `hooks-api` it is now possible to make your own toolbar or any external component.
There still one provided as a default option.

[2020-09-08 01:19] btzr-io opened #678 "Flip page effect"

[2020-11-29 15:10] Daniil-Solovyev opened #739 "Can't resolve 'reakit'"
Hello!
I am getting an error when running this script. Did anyone have the same problem? What am I doing wrong?

./node_modules/villain-react/dist/villain.js
Module not found: Can't resolve 'reakit' in '...reader\node_modules\villain-react\dist'

[code]

[2020-11-29 20:40] btzr-io commented on #739
@Daniil-Solovyev You need to include `reakit` as a dependency in your project. Is not included in build.
https://reakit.io/

[2020-11-29 20:47] btzr-io commented on #739
I was working on version 2.0 ( It allows you to create a custom UI and some other improvements ) see: https://github.com/btzr-io/Villain/issues/634

But I'm not sure if this module is used enough to keep maintaining it.
Please let me know if you are interested on `v-2.0`.

[2020-11-30 19:44] Daniil-Solovyev commented on #739
I include reakit.
Now my code is

[code]

And error

![Безымянный](https://user-images.githubusercontent.com/30840252/100656302-85851a80-335d-11eb-876f-d7438c72b3ec.png)

[2020-11-30 23:29] btzr-io commented on #739
This files are going to be accessed by the browser so it needs to be an absolute path:

Something like this
[code]
Alternative: you can use an `iframe` to embed the reader.
See: https://villain.js.org/#/embed

[2020-12-01 07:11] Daniil-Solovyev commented on #739
Ok. Than you.

[2020-12-01 07:12] #739 closed, assigned to nobody

[2021-07-11 04:13] rizalfauzie opened #889 "Webtoon/Manhwa Reading Mode"
On the demo site https://villain.js.org/#/reader there is no single page up to down reading mode, single page with all image on the page from top to bottom, it is more like from nav*r or kkp. Better to add this mode for modern comic today.

[2021-10-22 18:17] reklast opened #909 "can't convert undefined to object"
An error occurs when I'm trying to run the script

Both worker-bundle.js and archive are in a public folder, but for some reason I'm getting this error:

![image](https://user-images.githubusercontent.com/61365987/138502405-2541180e-84f8-403c-8656-2e3a1b945eb6.png)

Has anyone encountered this problem before? How to fix it?

My code:
[code]

[2021-10-22 21:12] btzr-io commented on #909
I think you need to use the full url for `workerUrl`

See: https://github.com/btzr-io/Villain/issues/739#issuecomment-736117432

[2021-10-23 00:45] reklast commented on #909
Unfortunately it doesn't help. I've been trying to fix this for a few hours already, but can't find where the problem is coming from. The error above is the only one i get, i don't have any errors related to worker-bundle file or archive itself. Maybe there is a conflict in my dependencies, I'm not really sure.

[2021-10-23 01:42] btzr-io commented on #909
Can you provide a reproducible example ?
https://codesandbox.io/ or a github repository

[2021-10-23 02:40] reklast commented on #909
I have a feeling that solution is pretty obvious.
https://codesandbox.io/s/falling-surf-9ur1h?file=/src/App.js

[2022-03-01 01:47] freyja-934 opened #917 "Cannot render: worker-bundle.js:1 Uncaught SyntaxError: Unexpected token '<'"
I tried a bunch of different ways to do this and still get this same error.

[code]
<img width="894" alt="Screen Shot 2022-02-28 at 7 48 28 PM" src="https://user-images.githubusercontent.com/30124804/156089419-cb9547bb-e146-4fd3-9020-280fad58f77d.png">

[2022-03-01 01:51] freyja-934 commented on #917
@btzr-io do you have a working example of this in a react app?

[2022-03-01 01:58] btzr-io commented on #917
I'm not longer working on this project. I guess  some dependencies are outdated or not longer work with this react component.

A full web-app example can be found here: ( Idk if this still works )
https://github.com/btzr-io/Villain/tree/master/packages/villain-web

Try the embed api. ( I'm not sure if this still works ), it should be easy to use an iframe instead:
https://villain.js.org/#/embed

[2022-08-05 03:49] #83 closed

[2022-08-05 03:50] #34 closed

[2022-08-05 03:50] #678 closed

[2022-08-05 03:51] #357 closed

[2022-08-05 03:52] #36 closed

[2022-08-05 03:54] #316 closed

[2022-08-05 03:56] btzr-io commented on #182
All text inputs were removed on v2.0.0, so this issue is not longer relevant

[2022-08-05 03:57] #238 closed

[2022-08-05 03:57] #203 closed

[2022-08-05 03:58] #38 closed

[2022-08-05 04:00] btzr-io commented on #47
We now use nollup for v2.0.0 https://github.com/PepsRyuu/nollup

[2022-08-05 04:00] #47 closed

[2022-08-05 04:00] #225 closed

[2022-08-05 04:02] #223 closed

[2022-08-05 04:02] #18 closed

[2022-08-05 04:03] #189 closed

[2022-08-05 04:04] btzr-io commented on #189
We don't use reakit  on V2.0.0

[2022-08-05 04:11] #19 closed

[2022-08-05 04:11] #41 closed

[2022-08-05 04:12] #67 closed

[2022-08-05 04:12] #64 closed

[2022-08-05 04:14] #135 closed

[2022-08-05 04:14] #84 closed

[2022-08-05 04:15] #68 closed

[2022-08-05 04:21] #675 closed

[2022-08-05 04:22] #37 closed

[2022-08-05 04:23] btzr-io commented on #236
v2.0.0 allows to use any render

[2022-08-05 04:23] #236 closed

[2022-08-05 04:24] #81 closed

[2022-08-05 04:28] #182 closed

[2022-08-06 09:08] btzr-io opened #923 "Panel detection"
**Is your feature request related to a problem? Please describe.**

We might not be able to implement a full panel extraction / recognition system, but we could use already stored positions / dimensions from other app / software as a json file ( Like embed metadata ).

https://github.com/njean42/kumiko/blob/527cc42aed8c27d7cecd55acb64e419904084fd2/kumikolib.py#L90

https://github.com/pedrovgs/Deep

[2022-08-07 06:11] btzr-io commented on #20
Openseadragon Shortcut keys:
https://github.com/openseadragon/openseadragon/blob/92904b7ac9f46583a3ba9237446c0608a0eb2ca0/src/viewer.js#L2583

[2022-08-12 01:34] btzr-io opened #924 "Automatic navigation ( play / pause )"
**Is your feature request related to a problem? Please describe.**
Add an option to navigate next page automatically after some time.

[2022-08-13 05:59] #924 closed, assigned to nobody

[2022-08-13 06:02] btzr-io opened #925 "Improve pages render method"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The current render method of the pages is pretty limited, some key improvements for Villain 2.0.0:

- [x] Optimizations.
- [x] Lazy load next pages.
- [ ] Fast transition + animations (See https://github.com/btzr-io/Villain/issues/926)
- [

[2022-08-14 05:32] btzr-io opened #926 "Page transition animations"
- [x] Fade In / Out
- [ ] Slide

[2022-08-19 21:24] btzr-io commented on #909
This issue was resolved on the new version. I'll try to publish the new vesion in a few days / weeks.

[2022-08-19 21:28] btzr-io commented on #917
This issue was resolved on the new version. I'll try to publish the new version in a few days / weeks.
I'm reopening this since this still exists in the current version.

[2022-08-21 03:21] btzr-io opened #927 "Customizable"
Villain v2 will let you create your own controls / UI.
But there isn't much flexibility to customize the default controls.
I'm not sure if this is really relevant but If anyone would like to have a more easy way to customize the default controls please let me know.

[2022-08-23 00:56] btzr-io opened #929 "Update docs / changelog / readme"
Villain 2.0 introduces new changes as well  a full restructure of the project. Lots of documentation needs to change  and be update.

[2022-08-23 01:08] btzr-io opened #930 "Custom slider component"
The react-compound-slider includes features we don't use or need so it will be a good idea just to create our own slider component and remove the package from dependencies.

[2022-08-23 01:14] btzr-io opened #931 "Improvements for Manga content."
I personally don't read manga so I didn't really have it in mind when I started this project. I understand now that different mediums will require specific features / enhancements to improve the usability and experience of the users trying to view this specific type of content.

Feel free to leave suggestions or ideas regarding how we can improve this viewer for manga content.